/**
 * Devin Ellis Sample Code
 * Example CSS from 3do3dont.com
 * This is production code, no changes have been made for this portfolio.
 * 3rd Party Code: HTML5 Boilerplate, 960.gs, Fancybox
 * 9/18/2011
 */

/* 
 * HTML5 ✰ Boilerplate
 *
 * What follows is the result of much research on cross-browser styling. 
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 * 
 * ==|== normalize ==========================================================
 */


/* =============================================================================
   HTML5 display definitions
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Force vertical scrollbar in non-IE
 * 3. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/* 
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)


::-moz-selection { background: #fe57a1; color: #fff; text-shadow: none; }
::selection { background: #fe57a1; color: #fff; text-shadow: none; }
 */

/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

i {
	font-style:normal;
}
abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 0; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/e 
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; max-width:100% !important; }

/*
 * Correct overflow not hidden in IE9 
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/* 
 * 1. Correct color not inheriting in IE6/7/8/9 
 * 2. Correct alignment displayed oddly in IE6/7 
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * Reintroduce inner spacing in 'table' to avoid overlap and whitespace issues in IE6/7
 */

table button, table input { *overflow: auto; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }

/* 
 * Remove inner padding and border in FF3/4: h5bp.com/l 
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* 
 * 1. Remove default vertical scrollbar in IE6/7/8/9 
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {  }
/*input:invalid, textarea:invalid { background-color: #f0dddd; }*/


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*  720 GRID SYSTEM
	-------------------------------------------------------------------------------------------------------- */
body{min-width:720px}.container_12{margin-left:auto;margin-right:auto;width:720px}.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12{display:inline;float:left;margin-left:10px;margin-right:10px}.push_1,.pull_1,.push_2,.pull_2,.push_3,.pull_3,.push_4,.pull_4,.push_5,.pull_5,.push_6,.pull_6,.push_7,.pull_7,.push_8,.pull_8,.push_9,.pull_9,.push_10,.pull_10,.push_11,.pull_11{position:relative}.alpha{margin-left:0}.omega{margin-right:0}.container_12 .grid_1{width:40px}.container_12 .grid_2{width:100px}.container_12 .grid_3{width:160px}.container_12 .grid_4{width:220px}.container_12 .grid_5{width:280px}.container_12 .grid_6{width:340px}.container_12 .grid_7{width:400px}.container_12 .grid_8{width:460px}.container_12 .grid_9{width:520px}.container_12 .grid_10{width:580px}.container_12 .grid_11{width:640px}.container_12 .grid_12{width:700px}.container_12 .prefix_1{padding-left:60px}.container_12 .prefix_2{padding-left:120px}.container_12 .prefix_3{padding-left:180px}.container_12 .prefix_4{padding-left:240px}.container_12 .prefix_5{padding-left:300px}.container_12 .prefix_6{padding-left:360px}.container_12 .prefix_7{padding-left:420px}.container_12 .prefix_8{padding-left:480px}.container_12 .prefix_9{padding-left:540px}.container_12 .prefix_10{padding-left:600px}.container_12 .prefix_11{padding-left:660px}.container_12 .suffix_1{padding-right:60px}.container_12 .suffix_2{padding-right:120px}.container_12 .suffix_3{padding-right:180px}.container_12 .suffix_4{padding-right:240px}.container_12 .suffix_5{padding-right:300px}.container_12 .suffix_6{padding-right:360px}.container_12 .suffix_7{padding-right:420px}.container_12 .suffix_8{padding-right:480px}.container_12 .suffix_9{padding-right:540px}.container_12 .suffix_10{padding-right:600px}.container_12 .suffix_11{padding-right:660px}.container_12 .push_1{left:60px}.container_12 .push_2{left:120px}.container_12 .push_3{left:180px}.container_12 .push_4{left:240px}.container_12 .push_5{left:300px}.container_12 .push_6{left:360px}.container_12 .push_7{left:420px}.container_12 .push_8{left:480px}.container_12 .push_9{left:540px}.container_12 .push_10{left:600px}.container_12 .push_11{left:660px}.container_12 .pull_1{left:-60px}.container_12 .pull_2{left:-120px}.container_12 .pull_3{left:-180px}.container_12 .pull_4{left:-240px}.container_12 .pull_5{left:-300px}.container_12 .pull_6{left:-360px}.container_12 .pull_7{left:-420px}.container_12 .pull_8{left:-480px}.container_12 .pull_9{left:-540px}.container_12 .pull_10{left:-600px}.container_12 .pull_11{left:-660px}.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:before,.clearfix:after,.container_12:before,.container_12:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0}.clearfix:after,.container_12:after{clear:both}.clearfix,.container_12{zoom:1}

/*  FANCYBOX
	-------------------------------------------------------------------------------------------------------- */
#fancybox-loading{position:fixed;top:50%;left:50%;width:40px;height:40px;margin-top:-20px;margin-left:-20px;cursor:pointer;overflow:hidden;z-index:1104;display:none}#fancybox-loading div{position:absolute;top:0;left:0;width:40px;height:480px;background-image:url('/assets/images/fancybox/fancybox.png')}#fancybox-overlay{position:absolute;top:0;left:0;width:100%;z-index:1100;display:none}#fancybox-tmp{padding:0;margin:0;border:0;overflow:auto;display:none}#fancybox-wrap{position:absolute;top:0;left:0;padding:20px;z-index:1101;outline:none;display:none}#fancybox-outer{position:relative;width:100%;height:100%;background:#fff}#fancybox-content{width:0;height:0;padding:0;outline:none;position:relative;overflow:hidden;z-index:1102;border:0 solid #fff}#fancybox-hide-sel-frame{position:absolute;top:0;left:0;width:100%;height:100%;background:transparent;z-index:1101}#fancybox-close{position:absolute;top:-15px;right:-15px;width:30px;height:30px;background:transparent url('/assets/images/fancybox/fancybox.png') -40px 0;cursor:pointer;z-index:1103;display:none}#fancybox-error{color:#444;font:normal 12px/20px Arial;padding:14px;margin:0}#fancybox-img{width:100%;height:100%;padding:0;margin:0;border:none;outline:none;line-height:0;vertical-align:top}#fancybox-frame{width:100%;height:100%;border:none;display:block}#fancybox-left,#fancybox-right{position:absolute;bottom:0;height:100%;width:35%;cursor:pointer;outline:none;background:transparent url('/assets/images/fancybox/blank.gif');z-index:1102;display:none}#fancybox-left{left:0}#fancybox-right{right:0}#fancybox-left-ico,#fancybox-right-ico{position:absolute;top:50%;left:-9999px;width:30px;height:30px;margin-top:-15px;cursor:pointer;z-index:1102;display:block}#fancybox-left-ico{background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -30px}#fancybox-right-ico{background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -60px}#fancybox-left:hover,#fancybox-right:hover{visibility:visible}#fancybox-left:hover span{left:20px}#fancybox-right:hover span{left:auto;right:20px}.fancybox-bg{position:absolute;padding:0;margin:0;border:0;width:20px;height:20px;z-index:1001}#fancybox-bg-n{top:-20px;left:0;width:100%;background-image:url('/assets/images/fancybox/fancybox-x.png')}#fancybox-bg-ne{top:-20px;right:-20px;background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -162px}#fancybox-bg-e{top:0;right:-20px;height:100%;background-image:url('/assets/images/fancybox/fancybox-y.png');background-position:-20px 0}#fancybox-bg-se{bottom:-20px;right:-20px;background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -182px}#fancybox-bg-s{bottom:-20px;left:0;width:100%;background-image:url('/assets/images/fancybox/fancybox-x.png');background-position:0 -20px}#fancybox-bg-sw{bottom:-20px;left:-20px;background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -142px}#fancybox-bg-w{top:0;left:-20px;height:100%;background-image:url('/assets/images/fancybox/fancybox-y.png')}#fancybox-bg-nw{top:-20px;left:-20px;background-image:url('/assets/images/fancybox/fancybox.png');background-position:-40px -122px}#fancybox-title{font-family:Helvetica;font-size:12px;z-index:1102}.fancybox-title-inside{padding-bottom:10px;text-align:center;color:#333;background:#fff;position:relative}.fancybox-title-outside{padding-top:10px;color:#fff}.fancybox-title-over{position:absolute;bottom:0;left:0;color:#FFF;text-align:left}#fancybox-title-over{padding:10px;background-image:url('/assets/images/fancybox/fancy_title_over.png');display:block}.fancybox-title-float{position:absolute;left:0;bottom:-20px;height:32px}#fancybox-title-float-wrap{border:none;border-collapse:collapse;width:auto}#fancybox-title-float-wrap td{border:none;white-space:nowrap}#fancybox-title-float-left{padding:0 0 0 15px;background:url('/assets/images/fancybox/fancybox.png') -40px -90px no-repeat}#fancybox-title-float-main{color:#FFF;line-height:29px;font-weight:bold;padding:0 0 3px 0;background:url('/assets/images/fancybox/fancybox-x.png') 0 -40px}#fancybox-title-float-right{padding:0 0 0 15px;background:url('/assets/images/fancybox/fancybox.png') -55px -90px no-repeat}.fancybox-ie6 #fancybox-close{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_close.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-left-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_left.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-right-ico{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_nav_right.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-over{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_over.png',sizingMethod='scale');zoom:1}.fancybox-ie6 #fancybox-title-float-left{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_left.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-float-main{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_main.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-title-float-right{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_title_right.png',sizingMethod='scale')}.fancybox-ie6 #fancybox-bg-w,.fancybox-ie6 #fancybox-bg-e,.fancybox-ie6 #fancybox-left,.fancybox-ie6 #fancybox-right,#fancybox-hide-sel-frame{height:expression(this.parentNode.clientHeight+"px")}#fancybox-loading.fancybox-ie6{position:absolute;margin-top:0;top:expression((-20+(document.documentElement.clientHeight ? document.documentElement.clientHeight/2:document.body.clientHeight/2)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop:document.body.scrollTop))+'px')}#fancybox-loading.fancybox-ie6 div{background:transparent;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_loading.png',sizingMethod='scale')}.fancybox-ie .fancybox-bg{background:transparent!important}.fancybox-ie #fancybox-bg-n{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_n.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-ne{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_ne.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-e{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_e.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-se{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_se.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-s{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_s.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-sw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_sw.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-w{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_w.png',sizingMethod='scale')}.fancybox-ie #fancybox-bg-nw{filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='fancybox/fancy_shadow_nw.png',sizingMethod='scale')}


/*  SIMPLE SLIDER
	-------------------------------------------------------------------------------------------------------- */
.simpleSlider { position:relative; height:400px; width:940px; } /* Set the height and width here */
.simpleSlider img { position:absolute; left:0; top:0; }


/*  FRAMEWORK CLASSES
	-------------------------------------------------------------------------------------------------------- */

.slant { font-style: italic; }
.caps { text-transform: uppercase; }

.left { float: left !important; }
.right { float: right !important; }
.center { text-align: center }
.normal { font-style: normal; font-weight: normal; }

.hide,
.ui-tabs-hide { display: none }
.no-js .hide { display: block }

/* error, notice and success classes */
.error, .notice, .success {
	border: 1px solid #ddd;
	margin: 20px 0;
	padding: 10px;
}
.error, .error a {
	background-color: #fbe3e4;
	border-color: #fbc2c4;
	color: #8a1f11;
}
.notice, .notice a {
	background-color: #fff6bf;
	border-color: #ffd324;
	color: #514721;
}
.success, .success a {
	background-color: #e6efc2;
	border-color: #c6d880;
	color: #264409;
}

/*  IMAGES
	-------------------------------------------------------------------------------------------------------- */
img { border: none; outline: none; }
img.left,
img.right { margin: 0 10px 10px }
img.left { margin-left: 0 }
img.right { margin-right: 0 }
img.none { background: transparent; border: 0; padding: 0; }
img.noBorder { border: none !important; }


/*  FORMS
	-------------------------------------------------------------------------------------------------------- */
input,
select,
textarea {
	background-color: #fff;
	border: 1px solid #c2c2c2;
	line-height: 22px;
	width: 250px;
}
select {
	height: auto;
}
input[type=submit] {
	background: url(/assets/images/submit-bg.gif) top left repeat-x;
	border: 1px solid #e0e0e0;
	border-radius: 6px;
	height: auto;
	display: block;
	font-weight: bold;
	position: relative;
	margin-top: 7px;
	font-size: 16px;
	padding: 7px 12px;
	width: auto;
}
input[type=submit]:hover {
	color: #5fba1f;
}
label {
	font-size: 14px;
}

form ol {
	list-style-type:none;
	padding:0;
}
form ol li {
	padding:5px 0;
}
form ol li label {
	display:inline-block;
	width:80px;
	text-align:right;
	padding-right:5px;
	font-size:11px;
	font-weight:bold;
}

/*  SITE-SPECIFIC STYLES
	-------------------------------------------------------------------------------------------------------- */



body {
	background-color: #eee;
	color:#333;
}

h1, h2, h3 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
h1 {
	font-size:30px;
	letter-spacing:-1px;
}
h2 {
	font-size:20px;
}
h3 {
	font-sise:20px;
}
hr {
	color: #ccc;
	height: 1px;
}
header {
	background-color:#333;
	color:#fff;
	margin-bottom:20px;
	padding:5px;
}
	header h1 {
		font-size:24px;
		margin:0;
	}
		header h1 a:link, header h1 a:visited {
			color:#999;
			text-decoration:none;
		}
	nav li {
		display:inline-block;
	}
	nav a, nav a:visited {
		display:block;
		color:#ddd;
		font-weight:bold;
		padding:7px 14px;
		font-family: Arial Narrow, Arial, Helvetica, sans-serif;
		text-transform:uppercase;
		text-decoration:none;
	}
	nav a:hover {
		color:#fff;
	}
		
#logo {
	 width:300px;
	 display:block;
	 margin:30px auto;
}
.intro {
	font-family:Arial Narrow, sans-serif;
	font-size:16px;
	line-height:24px;
	color:#444;
}
.frame {
	background-color: #f3f3f3;
	-webkit-box-shadow: 0 1px 3px #333;
	-moz-box-shadow: 0 1px 3px #333;
	box-shadow: 0 1px 3px #333
}

a:hover .frame {
}

#movieList a {
	display:block;
	position:relative;
	text-align:center;
	color:#333;
	text-decoration:none;
	margin:15px 0;
	padding:5px 0;
}

#movieList h3 {
	font-size:13px;
}
#movieList i {
	display:block;
	position:absolute;
	top:0;
	right:32px;
	z-index:1;
	background: transparent url(/img/glasses3d_32.png) 0 0 no-repeat scroll;
	text-indent:-1000px;
	overflow:hidden;
	width:32px;
	padding:3px 0;
	/*
	background-color:#FF9;
	width:30px;
	padding-top:5px;
	height:25px;
	font-size:9px;
	font-weight:bold;
	box-shadow:0px 1px 3px #333;
	*/
}

ul {
	list-style-type:none;
	padding:0;
}
ul.lined li {
	padding:15px 0;
	border-top:1px solid #ccc;
}

.tweets blockquote {
	margin-top:10px;
	background-color:#fff;
	padding:5px;
	width:150px;
	font-size:11px;
	line-height:18px;
	color:#444;
	font-style:normal;

}
.tweets .author {
	display:block;
	background:transparent url(/img/whiteDiamond.png) 110px -22px no-repeat scroll;
	font-size:10px;
	font-weight:700;
	text-align:right;
	padding:20px 10px 0 0;
}

i.boolean.score {
	display:block;
	width:32px;
	height:32px;
	background: transparent url(/img/glasses3d_32.png) 0 0 no-repeat scroll;
	text-indent:-1000px;
	overflow:hidden;
}
i.boolean.score.fail {
	background-image: url(/img/glasses2d_32.png);
}
.versions img {
	display:block;
	width:45%;
	float:left;
	margin:0 5% 5px 0;
}
#verdict span {
	display:block;
	background:transparent url(/img/3do.png) no-repeat 0 100% scroll;
	font-family:Arial Narrow, sans-serif;
	padding:15px 0 0 70px;
	font-size:48px;
	text-transform:uppercase;
	font-weight:bold;
	margin-bottom:30px;
}
	#verdict .negative {
		background-image:url(/img/3dont.png);
	}
#verdict i {
	font-size:50px;
	position:relative;
	top:8px;
}

.review {
	border-top:1px solid #ccc;
	padding:10px 0;
	clear:left;
}

.review section {
	float:left;
	padding-right:10px;
}
	.review .score {
		width:30px;
	}
		.review .score i {
			display:block;
			font-weight:bold;
			text-align:center;
			padding-bottom:5px;
		}
			
		.review .vote, .review .undo {
			display:block;
			width:16px;
			height:16px;
			background:transparent url(/img/voteUp.png) no-repeat 0 0 scroll;
			text-indent:-1000px;
			overflow:hidden;
			text-wrap:none;
			margin:0 auto;
		}
		.review .vote.down {
			background-image:url(/img/voteDown.png);
		}
		.review .undo {
			background-image:url(/img/voteUndo.png);
		}
		
	.review .reviewBody {
		width:360px;
	}
		.review .verdict, .review .comment {
			display:inline;
		}
		.review .verdict {
			background: transparent url(/img/glasses3d_32.png) 0 50% no-repeat scroll;
			padding:0 10px 0 36px;
		}
		.review time, .review .author {
			display:inline;
			font-size:10px;
			color:#777;
		}
#addreview {
		width:350px;
}
	#addreview .buttons {
		text-align:right;
	}

footer {
	border-top:1px solid #ccc;
	font-size:11px;
	color:#999;
	margin-top:20px;
	padding:10px 0;
}
footer a:link, footer a:visited {
	color:#999;
}

/* button
*******************************************************************************/
button, .button, .button:visited {
	background: #e3e3e3;
	border: 1px solid #bbb;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
	-o-box-shadow: inset 0 0 1px 1px #f6f6f6;
	box-shadow: inset 0 0 1px 1px #f6f6f6;
	color: #333;
	font: bold 12px "helvetica neue", helvetica, arial, sans-serif;
	line-height: 1;
	padding: 5px 10px 6px;
	text-align: center;
	text-shadow: 0 1px 0 #fff;
	text-decoration:none;
}
button:hover, .button:hover {
	background: #d9d9d9;
	-webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
	-moz-box-shadow: inset 0 0 1px 1px #eaeaea;
	-ms-box-shadow: inset 0 0 1px 1px #eaeaea;
	-o-box-shadow: inset 0 0 1px 1px #eaeaea;
	box-shadow: inset 0 0 1px 1px #eaeaea;
	color: #222;
	cursor: pointer; 
}
button:active, .button:active {
	background: #d0d0d0;
	-webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
	-o-box-shadow: inset 0 0 1px 1px #e3e3e3;
	box-shadow: inset 0 0 1px 1px #e3e3e3;
	color: #000; 
}	
.button.small {
	font-size:9px;
	padding:3px 5px;
}

/* ==|== non-semantic helper classes ========================================
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }



/* ==|== media queries ======================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}



/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}